
@model WebAppRestaurantDB.ViewModels.EmployeeViewModel

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Form Layouts</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Forms</span></li>
                <li><span>Layouts</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Multi-Column Form</h2>

                    <p class="panel-subtitle">
                        This is an example of form with multiple block columns.
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmployeeCode)
                                @Html.TextBoxFor(m => m.EmployeeCode, new { @class = " form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @*<label class="control-label">First Name</label>
                                    <input type="text" name="firstname" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @*<label class="control-label">Last Name</label>
                                    <input type="text" name="lastname" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmailID)
                                @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                                @*<label class="control-label">Email</label>
                                    <input type="email" name="email" class="form-control">*@
                            </div>
                        </div>
                        @*<div class="col-sm-4">
                                <div class="form-group">
                                    Html.LabelFor(m=>m.Country)
                                    <select data-plugin-selectTwo class="form-control populate">
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>*@
                    </div>
                </div>
                <footer class="panel-footer">
                    <button class="btn btn-primary">Save</button>
                </footer>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>
